<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body> 
    <center>
	<br>
	<h1><%= session['lineas'] %></h1>
   	<br>
   	<%= session['longitud'] %> letras 
   	<br/>
   	<br/>
  	<form action="/validar" method="POST">
    	<input type="text" name="campo" maxlength="1">
    	<input type="submit" value="validar">
    	<%= session['validacion'] %>
	</form>
	</center>
</body>
</html>