<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<center>
		<h1>¡¡¡GANASTE!!!</h1>
		<h2>la palabra neta es un modismo mexicano que remplaza a la palabra verdad</h2>
	</center>
</body>
</html>