<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<center>
		<h1>¡¡¡GANASTE!!!</h1>
		<h2>La palabra neta es un modismo mexicano que remplaza a la palabra verdad.</h2>
		<h2>La neta usar SCRUM te facilita el Desarrollo.</h2>
	</center>
</body>
</html>